.advantages {
  width: 100%;
  background-color: #fff;

  h2 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    @media (min-width: 768px) {
      padding: 35px 0 30px;
    }
  }

  p {
    text-align: center;
    margin-bottom: 25px;
    @media (min-width: 768px) {
      margin-bottom: 35px;
    }
  }

  .advantages-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      flex-direction: row;
      width: 100%;

      text-align: center;

      &.city,
      &.bridge,
      &.list-2 {
        height: 160px;
        @media (min-width: 768px) {
          height: 250px;
        }
        @media (min-width: 1024px) {
          height: 270px;
        }
      }

      .city-img {
        width: 65%;
        background-image: url('../img/city.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }

      .bridge-img {
        width: 65%;
        background-image: url('../img/bridge.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }

      .city-wrapper,
      .bridge-wrapper {
        background-color: #81b3d2;
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        width: 35%;
        align-items: center;
        @media (min-width: 768px) {
          padding: 0 20px;
        }

        h3 {
          margin: 20px 0 0 0;
          @media (min-width: 768px) {
            margin: 60px 0 15px 0;
            text-align: center;
            width: 100px;
          }
          @media (min-width: 1024px) {
            width: 150px;
            margin-top: 60px;
          }
        }
        p {
          min-width: 125px;
          @media (min-width: 1024px) {
            width: 280px;
          }
        }
        span {
          margin: 8px;
          @media (min-width: 768px) {
            margin: 10px;
          }
        }
      }

      img {
        width: 65%;
      }
    }

    .properties {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      height: 205px;
      width: 100%;
      @media (min-width: 768px) {
        height: 240px;
      }

      li {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 25px 10px;
        align-items: center;
        width: 33%;

        p {
          @media (min-width: 1024px) {
            width: 280px;
          }
        }

        img {
          width: 45px;
          height: 45px;
        }
      }
    }

    .items-no-photo {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 150px;
      background-color: #eee;
      width: 100%;
      @media (min-width: 768px) {
        height: 250px;
      }

      li {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 33%;
        align-items: center;

        h3 {
          margin: 0;
          @media (min-width: 768px) {
            width: 100px;
            margin-top: 30px;
          }
        }

        span {
          margin: 8px 0;
          @media (min-width: 768px) {
            margin: 20px 0;
          }
        }

        p {
          margin: 0;
        }
      }
    }
  }
}
